* {
  box-sizing: border-box;
}

input,
p {
  margin: 0;
}

form {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 12px;
  padding: 16px;
  border: 1px solid #333;
  border-radius: 6px;
  max-width: 275px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  display: block;
  min-width: 200px;
}

input[type="text"],
select {
  min-height: 22px;
}

input[type="radio"] {
  min-height: 16px;
  min-width: 16px;
  margin-right: 6px;
  vertical-align: text-bottom;
}

button {
  background: #fff;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 8px 12px;
}

label:hover,
button:hover {
  background: #efefef;
}

label:active,
button:active {
  background: #ddd;
}

.radio-set {
  display: flex;
}

.radio-set > input {
  display: none;
}

.radio-set > input + label {
  position: relative;
  flex: 1 0 0;
  padding: 12px;
  text-align: center;
}

.radio-set > input:disabled + label {
  pointer-events: none;
  font-weight: normal;
}

.radio-set > input + label:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background: #333;
  transition: all 250ms;
}

.radio-set > input:checked + label:after {
  top: calc(100% - 2px);
  background: green;
  height: 8px;
}
