* {
  box-sizing: border-box;
}

input,
p {
  margin: 0;
}

form {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 12px;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 6px 6px 0 0;
}

label {
  font-weight: bold;
}

input[type="text"] {
  display: block;
  min-width: 200px;
}

input[type="text"],
select {
  min-height: 22px;
}

input[type="radio"] {
  min-height: 16px;
  min-width: 16px;
  margin-right: 6px;
  vertical-align: text-bottom;
}

button {
  background: #fff;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 8px 12px;
}

label:hover,
button:hover {
  background: #efefef;
}

label:active,
button:active {
  background: #ddd;
}

.radio-set {
  display: flex;
}

.radio-set > input {
  opacity: 0;
  position: absolute;
}

.radio-set > input + label {
  position: relative;
  flex: 1 0 0;
  padding: 12px;
  text-align: center;
}

.radio-set > input:disabled + label {
  pointer-events: none;
  font-weight: normal;
}

.radio-set > input + label:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background: #333;
  transition: all 250ms;
}

:focus {
  outline-color: green;
}

.radio-set > input:focus + label {
  box-shadow: inset 0 0 0 1px green;
}

.radio-set > input:checked + label:after {
  top: calc(100% - 2px);
  background: green;
  height: 8px;
}

.game-lobby,
.game {
  position: relative;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 12px;
  max-width: 500px;
  margin: auto;
}

.status-bar {
  padding: 6px;
  font-size: 16px;
  line-height: 1;
  border-bottom: 2px solid green;
  display: grid;
  align-items: center;
  grid-template-columns: min-content min-content auto min-content;
  grid-gap: 12px;
}

.status-bar > h1 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

.player-info {
  display: flex;
}
.player-info > span {
  width: 25px !important;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
}

.auction-row {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 12px;
}

.auction-details {
  display: grid;
  grid-auto-rows: min-content;
  align-items: flex-start;
  grid-gap: 12px;
}

.auction-details td {
  padding: 2px 4px;
}

.bids-row > span,
.auctioneer-flag > span {
  width: 30px !important;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}

.bids-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-gap: 4px;
}
.bids-row > span {
  width: 25px !important;
  height: 25px;
}

.auction-item {
  display: grid;
  height: 180px;
  width: 180px;
  grid-template-columns: [left] 1fr [center] 1fr [right] 1fr;
  grid-template-rows: [top] 1fr [center] 1fr [bottom] 1fr;
}

.auction-item > :nth-child(1) {
  grid-row-start: top;
  grid-row-end: bottom-end;
  grid-column-start: left;
  grid-column-end: right-end;
  height: 180px;
  width: 180px !important;
  z-index: 1;
  opacity: 0.5;
  border: 1px solid black;
  border-radius: 50%;
}

.auction-item > :nth-child(2) {
  grid-row-start: bottom;
  grid-row-end: bottom-end;
  grid-column-start: left;
  grid-column-end: left-end;
  z-index: 2;
}

.auction-item > :nth-child(3) {
  grid-row-start: bottom;
  grid-row-end: bottom-end;
  grid-column-start: right;
  grid-column-end: right-end;
  z-index: 3;
  font-size: 24px;
}

.auction-item > span {
  height: 60px;
  width: 60px;
}

.value-icon {
  background-color: #efefef;
  display: inline-grid;
  place-items: center;
  border: 1px solid black;
  border-radius: 50%;
  font-weight: bold;
}

.auction-history {
  border: 1px solid #333;
  border-radius: 0 0 6px 6px;
  padding: 8px;
}

.auction-history table {
  width: 100%;
}

.auction-history table {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
}

.auction-history tr {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 108px 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
}

.auction-history tr > :first-child {
  text-align: left;
  white-space: nowrap;
}

.auction-history th,
.auction-history td {
  text-align: right;
  padding: 2px 4px;
}

.auction-history .value-icon,
.auction-history .sector-icon,
.auction-history .flag-icon {
  width: 30px !important;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 6px;
}

.auction-history .auction-winner {
  background-color: #48bb78;
  color: white;
}

.auction-history caption {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 8px;
  margin-top: 4px;
}

.auction-history caption > span {
  padding: 2px 4px;
}

.bg-green {
  background-color: #48bb78;
  color: white;
}

.text-center {
  text-align: center;
}

.game-details > summary {
  padding: 8px;
}

.game-players {
  list-style-type: none;
  padding-left: 0;
  margin: 16px 0;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

.flags {
  display: flex;
  justify-content: space-between;
}

.flag-icon-opaque {
  opacity: 1;
}

.flag-icon-transparent {
  opacity: 0.3;
}

.flags > .flag-icon {
  width: 60px;
  height: 45px;
  outline: 1px solid black;
}

.flags > .sector-icon {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  outline: none;
}

.sector-icon {
  background-color: #efefef;
  border: 1px solid black;
  border-radius: 50%;
}

.icon-agriculture {
  background-image: url(./icons/agriculture.svg);
}
.icon-financial {
  background-image: url(./icons/financial.svg);
}
.icon-government {
  background-image: url(./icons/government.svg);
}
.icon-housing {
  background-image: url(./icons/housing.svg);
}
.icon-manufacturing {
  background-image: url(./icons/manufacturing.svg);
}

.icon-agriculture,
.icon-housing,
.icon-manufacturing {
  background-position-y: 5px !important;
}

.icon-government {
  background-position-y: 2px !important;
}
